extends layout

block stylesheet
	link(rel='stylesheet', href='/ext/owlcarousel/owl.carousel.css')
block script
	script(type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false')

block content
	// Some variables used in the jade
	- var company = PageData.company
	// Includes mixins
	include mixins/forms
	include mixins/carousel-list
	include mixins/featured-event

	section#content.clearfix
		div.container.js
			h2.slogan.align-center(data-slogan=' '+ company.longName) Welcom to </br>
			+featured-event

			div.three-fourth
				h6.section-title Latest Events
				+carousel-list
				
			div.one-fourth.last
				h6.section-title Mailing List
				+forms("mailinglist-vertical")


	