
/**
 * CSS for events page
 */


/**
 * CSS for events page
 */
#events
	.dash
		float right
		width: 11px;
		height: 3px;
		background: url(/img/default-template/list-dash.png) 3px 8px;
	.plus
		display none
		float right
		width: 11px;
		height: 11px;
		background: url(/img/default-template/list-plus.png) 11px 11px;

	.event-new
		.dash
			display none
		// .plus
		// 	display block

		// .edit-area
		// 	border 1px dotted
		// 	padding 5px
		// 	max-width 580px
		// 	
		textarea
			&.edit-area
				width 600px
				resize vertical
				font-faminly inherit
				font-size inherit

