/**
 * CSS for home page
 */


#content
	.slogan:after
		content attr(data-slogan)


	#carousel
		.item
			margin 0 10px
			.entry
	

				.entry-meta
					margin-right 5px
					text-align left
					overflow hidden
					text-overflow ellipsis

					time
						overflow hidden
						text-overflow ellipsis

				.entry-body
					width 150px
					float left
					margin-left 0px
					.title
						margin-top 5px






@media only screen and (max-width: 767px)

	#content
		.slogan:after
			content "HUCEIC"

		#carousel
			.item
				.entry
					.entry-body
						width 100%
