
//- A mixin for creating a new event

mixin event(admin)
	if admin
		h3 Create New Event
		div.infobox
			div.event-new
				div.dash
				div.plus

				div.event-container 
					h2.edit.title Title:
					h3.edit.peaker Speaker:
					p.edit.description ...
			div.button.do_createEvent Create
	

	div.event.infobox
		div.dash
		div.plus
		
		div.event-container
			h3 old events