
//- A mixin for creating a new event

mixin event(admin)
	if admin
		h3 Create New Event
		//- div.infobox
		div.event-new.infobox
			div.dash
			//- div.plus.do_createEvent

			div.event-new-container 
				h2.edit-area.title Title: ...
				h3.edit-area.speaker Speaker: ...
				h3.edit-area.type Type: ...
				p.edit-area.description Description: ...
			div.button.do_createEvent(contenteditable="false") Create
	

	div.event-list
	


	//-Templates 
	script(id='template-eventlist-item',type='text/html')
		| <div class='event infobox' data-eventId=<%=eventId%>  data-index=<%=index%>>
		|	<% if (admin) {%>
		| 		<div class='dash do_deleteEvent'></div>
		|	<%}%>
		|	<div class='event-container'  >
		|		<%=eventData %>	
		|	</div>
		| </div>