
mixin featured-event
	section#featuredEvent.ss-slider.show-content-onhover.fully-loaded(style="max-height: 550px; max-width: 939px;")
		div.slide-images-container(style="max-height: 380px;")
			img.slide-bg-image(src="img/home/audience.jpg")
			img.slide-bg-image(src="img/home/speaker.jpg")
			img.slide-bg-image(src="img/home/harvard_campus_pic_1.jpg")
		div.buttons-container
			div.slide-button
				span.dropcap 1
				h5 Topic
				span.description Hao's new life
			div.slide-button
				span.dropcap 2
				h5 Speaker
				span.description Hao
			div.slide-button
				span.dropcap 4
				h5 Date/Location
				span.description Harvard University



