/**
 * CSS for all forms
 */

// CSS for #form-mailinglist-vertical
form
	&.form-mailinglist-vertical
		.button 
			margin-top 10px



@media only screen and (max-width: 767px)
	form
		&.form-mailinglist-vertical
			margin-top 10px
			label
				margin-right 141px