/**
 * Default css 
 */
@import 'style.css'

/**
 * Globally used css
 */
@import '../global/form.styl'
@import '../global/button.styl'

/**
 * The global definition for color
 * @type {[type]}
 */

color-main-crimson = #ba0600

.color-crimson
	color color-main-crimson



/**
 * CSS for social media
 * 
 */
#footer
	.social-links 
		li.weibo
			a
				background-image url('/img/icon-social-china.png') 
				background-position 0 -16px
				&:hover
					background-position 0 0px
		li.renren
			a
				background-image url('/img/icon-social-china.png') 
				background-position 0 -80px
				&:hover
					background-position 0 -64px



/**
 * CSS for header
 */
#header
	padding 0px 20px
	background: url('/img/header.jpg') no-repeat top center;

	a
		font-size 15px
		img 
			height: 72px;
			max-width: 100%;
			vertical-align: middle;
			border: 0;

	