/**
 * Default css 
 */
@import 'style.css'

/**
 * The global definition for color
 * @type {[type]}
 */

color-main-crimson = #ba0600

/**
 * CSS for events page
 */
#events
	.dash
		float right
		width: 11px;
		height: 3px;
		background: url(/img/default-template/list-dash.png) 3px 8px;
	.plus
		display none
		float right
		width: 11px;
		height: 11px;
		background: url(/img/default-template/list-plus.png) 11px 11px;

	.event-new
		.dash
			display none
		.plus
			display block


/**
 * CSS for social media
 * 
 */
#footer
	.social-links 
		li.weibo
			a
				background-image url('/img/icon-social-china.png') 
				background-position 0 -16px
				&:hover
					background-position 0 0px
		li.renren
			a
				background-image url('/img/icon-social-china.png') 
				background-position 0 -80px
				&:hover
					background-position 0 -64px



/**
 * CSS for header
 */
#header
	padding 0px 20px
	background: url('/img/header.jpg') no-repeat top center;

	a
		font-size 15px
		img 
			height: 72px;
			max-width: 100%;
			vertical-align: middle;
			border: 0;

	